<footer class='footer'>
  <h2 class='heading'>有限会社エーワンハウジング吉田</h2>
  <section class='information'>
    <ul>
      <li>
        電話番号: <a href='tel:0339570093'>03-3957-0093</a>
      </li>
      <li>
        Eメール: <a href='mailto:a.one.housing@gmail.com'>a.one.housing@gmail.com</a>
      </li>
    </ul>
  </section>
</footer>
<style>
  .footer {
    grid-area: footer;
    padding: 2rem 1rem;
    background-color: #f0f1f3;
  }

  .heading {
    /* padding: 40px; */
    font-size: 12px;
    text-align: center;
    color: #5c5c5c;
  }

  .information {
    /* padding: 10px, 10px; */
    font-size: 12px;
    text-align: center;
    color: #5c5c5c;
  }

  ul {
    list-style: none;
  }
</style>
