---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='ja'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='（有）エーワンハウジング吉田のコーポレートサイト' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class='container'>
      <Header />
      <div class='content'>
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  .container {
    min-height: 100vh;
    display: grid;
    grid:
      "site_header" auto
      "content" 1fr
      "footer" auto
      / 1fr;
    gap: 0em;
  }

  .content {
    grid-area: content;
    padding: 2.5em 1.5em;
    margin: 0px auto;
  }
</style>
